.videoContainerAbsolute {
  position: absolute;
  top: 0;
  bottom: 0; }

.videoContainer {
  position: relative; }

.video {
  width: 100%;
  object-fit: cover;
  min-height: 500px;
  max-height: 600px; }

.playPauseButton {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 40px;
  margin-left: 60px;
  height: 50px;
  width: 80px;
  outline: none;
  background-color: Transparent;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  transition: 200ms; }
  .playPauseButton::selection {
    color: rgba(255, 255, 255, 0.8); }
  .playPauseButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.04);
    transition: 200ms; }

.muteUnmute {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 60px;
  margin-bottom: 200px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 0.1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .muteUnmute::selection {
    color: rgba(255, 255, 255, 0.8); }
  .muteUnmute:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.04);
    transition: 200ms; }
  .muteUnmute img {
    height: 25px;
    width: 25px; }

.details {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  margin-left: 60px;
  margin-bottom: 200px; }

.titleContainer {
  overflow: hidden; }
  .titleContainer:hover {
    width: auto; }

.mainVideoTitle {
  transition: 500ms;
  font-family: "Cinzel", serif;
  color: #bf0603;
  font-size: 80px;
  animation-duration: 3s;
  animation-name: slidein;
  cursor: pointer; }
  .mainVideoTitle:hover {
    transition: 500ms;
    transform: scale(1.01); }
  .mainVideoTitle::selection {
    color: #f03434; }

.descriptionContainer {
  width: 500px;
  overflow: hidden;
  height: 100px;
  margin-top: 0px; }

.mainVideoDescription {
  font-family: "Cinzel", serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  animation-duration: 3.5s;
  animation-name: slidein;
  cursor: pointer;
  transition: 500ms; }
  .mainVideoDescription:hover {
    transition: 500ms;
    transform: scale(1.01); }
  .mainVideoDescription::selection {
    color: rgba(255, 255, 255, 0.5); }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }
@media only screen and (max-width: 925px) {
  .mainVideoTitle {
    font-size: 50px; }

  .mainVideoDescription {
    font-size: 14px; }

  .details {
    margin-bottom: 120px; } }
@media only screen and (max-width: 695px) {
  .details {
    margin-right: 40px; }

  .muteUnmute {
    margin-bottom: 40px; }

  .descriptionContainer {
    width: auto;
    word-break: break-all;
    height: auto; } }
@media only screen and (max-width: 465px) {
  .details {
    margin-left: 10px; }

  .mainVideoTitle {
    font-size: 30px; } }
@media only screen and (max-width: 375px) {
  .muteUnmute {
    margin-right: 10px; } }
@media only screen and (max-width: 285px) {
  .descriptionContainer {
    display: none; } }

/*# sourceMappingURL=video.css.map */
