.trendingMovies {
  overflow: scroll;
  display: flex;
  flex-wrap: nowrap;
}
.carouselItem {
  width: 250px;

  margin-right: 10px;
  position: relative;
}
.carousel-item__poster {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}
.carousel-item_details {
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  opacity: 0.65;
  transition: 2000ms opacity;
  padding: 10px;
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  bottom: 0;
}
