.viewportHeight {
  height: 100vh;
}
.notFoundContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 70px;
}
.notFound {
  color: white;
}
.searchResultsContainer {
  margin-top: 85px;
}

.searchTitle {
  font-weight: bolder;
  color: white;
}
.searchItem {
  width: 250px;
  height: 250px;
  position: relative;
  border-radius: 20px;
  transition: 450ms;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.searchResultsContainer:hover .searchItem {
  opacity: 0.5;
}

.searchResultsContainer:hover .searchItem:hover {
  transform: scale(1.1);
  opacity: 1;
  transition: 200ms;
}
.searchItem-searchPoster {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  object-fit: cover;
  transition: 200m;
}
.searchItem-searchDetails {
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  width: 250px;
  position: absolute;
  bottom: 0;
  padding: 10px;
  opacity: 0.65;
  transition: 2000ms;
  border-radius: 20px;
}
.searchItem-searchDetails p {
  margin-bottom: 0px;
}
.seartchItem-searchDetails__title {
  font-weight: bolder;
  font-size: 20px;
}
.seartchItem-searchDetails__title:hover {
  text-decoration: underline;
  transform: scale(1.02);
  transition: 200ms;
}
.searchItem:hover .searchItem-searchDetails {
  opacity: 1;
  transition: 2000ms;
}
.searchItem-searchDetails__description {
  color: white;
}
.searchItem-searchDetails__description:hover {
  text-decoration: underline;
  color: white;
}
.searchItem-searchDetails__runtime:hover {
  text-decoration: underline;
}
.searchItem-heart {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 15px;
  height: 40px;
  transition: 400ms;
}
.searchItem-heart:hover {
  transition: 400ms;
  transform: scale(1.3);
}
