.viewportHeight {
  height: 100vh;
}
.noMoviesTitle {
  color: white;
  font-weight: bolder;
}
.myListContainer {
  margin-top: 85px;
}

.myListTitle {
  font-weight: bolder;
  color: white;
}
.myListItem {
  width: 250px;
  height: 250px;
  position: relative;
  border-radius: 20px;
  transition: 450ms;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.myListContainer:hover .myListItem {
  opacity: 0.5;
}

.myListContainer:hover .myListItem:hover {
  transform: scale(1.1);
  opacity: 1;
  transition: 200ms;
}
.myListItem-details {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  width: 250px;
  position: absolute;
  padding: 10px;
  opacity: 0.65;
  transition: 2000ms;
  border-radius: 20px;
}
.myListItem-poster {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  object-fit: cover;
  transition: 200m;
}

.myListItem-details p {
  margin-bottom: 0px;
}
.myListItem-details__title {
  font-weight: bolder;
  font-size: 20px;
}
.myListItem-details__title:hover {
  text-decoration: underline;
  transform: scale(1.02);
  transition: 200ms;
}
.myListItem:hover .myListItem-details {
  opacity: 1;
  transition: 2000ms;
}
.myListItem-details__description {
  color: white;
}
.myListItem-details__description:hover {
  text-decoration: underline;
  color: white;
}
.myListItem-details__runtime:hover {
  text-decoration: underline;
}
.myListItem-deleteIcon {
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 15px;
  height: 30px;
  transition: 400ms;
}
.myListItem-deleteIcon:hover {
  opacity: 1;
  transition: 400ms;
  transform: scale(1.1);
}
