.footerContainer {
  position: fixed;
  bottom: 0;
  clear: both;
  width: 100%;
  height: 100px;
}
.githubIcon {
  height: 25px;
  background-color: white;
  border-radius: 100%;
  border: 1px solid white;
}
footer > p {
  color: white;
}
