.isVisible {
  display: block;
}
.isNotVisible {
  display: none;
}
.footerContainer {
  height: 50px;
  background-color: black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.footerContainer p {
  margin-bottom: 0px;
}
.githubIcon {
  height: 25px;
  background-color: white;
  border-radius: 100%;
  border: 1px solid white;
}
footer > p {
  color: white;
}
