.notFoundContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  margin-top: 70px;
}
.notFound {
  color: white;
}
.searchCarouselContainer {
  margin-top: 70px;
}
